:root {
    --font_size: 1rem;
    --pointTopLeft: 0 20px 20px 20px;
    --pointTopRight: 20px 0 20px 20px;
    --pointBottomRight: 20px 20px 0 20px;
    --pointBottomLeft: 20px 20px 20px 0;
}

body {
    font-family: "Barlow-Semi-Condensed";
    color: rgb(225, 225, 225);
    margin: 4rem 0; 
}

body > div {
    background: url(/Images/background\(1\).jpg);
    background-size: cover;
    background-position: center;
    position: fixed;
    inset: 0;
    z-index: -1;
}

img {
    width: 100%;
    height: 100%;
}

main {
    padding: 0 1.2rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 80vw;
    margin: 0 auto;
}

h1 {
    font-family: "Bungee-Shade";
    font-size: calc(4.95 * var(--font_size));
    margin: 0 0 2.2rem 0;
    padding-top: 1rem;
    line-height: 1.2;
}

nav {
    display: flex;
    gap: 0.3rem;
    margin-bottom: 2rem;
}

nav a {
    flex-grow: 1;
    flex-basis: 0;
    color: black;
    background-color: rgba(255, 255, 255, 0.45);
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: calc(1.4 * var(--font_size));
    text-align: center;
}

nav a:nth-child(1):hover,
nav a:nth-child(3):hover,
nav a:nth-child(4):hover {
    background-color: rgba(0, 0, 0, 0.329);
    color: white;
}

nav a:nth-child(2) {
    box-shadow: 0 0 6px 3px rgb(225, 225, 225);   
    border: 1px solid white;
    font-family: "Barlow-Condensed";
}

section:first-of-type,
section:last-of-type {
    border-radius: 20px;
    border: 2px solid white;
    padding: 0.7rem;
}

/* Upper Section */
section:first-of-type > div:first-child,
section:last-of-type > div:first-child {
    display: flex;
    gap: 2%;
}

article {
    display: flex;
    flex-direction: column;
}

h2 {
    font-family: "Bungee-Outline";
    font-size: calc(1.9 * var(--font_size));
    margin: 0;
    line-height: 1.4;
}

h3 {
    font-family: "Barlow-Condensed";
    font-size: calc(1.6* var(--font_size));
    margin: 0;
    font-weight: bold;
}

ul {
    list-style: none;
    margin: 0;
}

ul li {
    font-size: calc(1* var(--font_size));
}

article p {
    font-size: calc(1 * var(--font_size));
    margin: 3rem 0 0 0;
}

article + div {
    display: grid;
    grid-template-columns: 17vw 17vw;
    grid-template-rows: 17vw 17vw auto;
    gap: 0.5rem;
}

article + div > div:first-child {
    position: relative;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

article + div > div:first-child img {
    position: absolute;
    border-radius: 20px 20px 0 0;
    opacity: 1;
    transition: opacity 0.7s ease-in-out;
}

article + div > div:first-child img:nth-child(2):hover {
    opacity: 0;
}

article + div p {
    margin-left: 1rem;
    font-size: calc(1 * var(--font_size));
    font-weight: bolder;
    margin-bottom: 0.2rem;
}

article + div ol {
    padding: 0.5rem;
    margin-left: 2rem;
    margin-top: 0;
}

article + div div:nth-child(2) {
    border-radius: 0 0 0 20px;
    font-size: calc(0.9 * var(--font_size));
}

article + div div:nth-child(3) {
    border-radius: 0 0 20px 0;
    font-size: calc(0.9 * var(--font_size));
}

section:first-of-type article + div div:nth-child(2),
section:first-of-type article + div div:nth-child(3) {
    background-color: rgb(238, 203, 0);
    color: rgb(160, 12, 108);
}

section:last-of-type article + div div:nth-child(2),
section:last-of-type article + div div:nth-child(3) {
    background-color: rgb(52, 135, 216);
    color: rgb(255, 255, 165);
}

/*  Bottom Section  */
section > div:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 0.5rem;
    column-gap: 0.3rem;
}

section > div:nth-child(2) p {
    font-size: calc(0.9 * var(--font_size));
    margin: 0;
}

section:first-of-type > div:nth-child(2) div:nth-child(1),
section:first-of-type > div:nth-child(2) div:nth-child(3), 
section:first-of-type > div:nth-child(2) div:nth-child(5) {
    color: rgb(238, 203, 0);
    background-color: rgb(160, 12, 108); 
}

section > div:nth-child(2) div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
}

section:first-of-type > div:nth-child(2) div:first-child {
    border-radius: var(--pointTopRight);
}

section:first-of-type > div:nth-child(2) div:nth-child(3) {
    grid-column: 3 / 5;
    border-radius: var(--pointBottomLeft);
}

section:first-of-type > div:nth-child(2) div:nth-child(4) {
    background: url(/Images/chas-chandler\(1\).jpg);
    background-size: cover;
    color: white;
}

section:first-of-type > div:nth-child(2) div:nth-child(4) ,
section:last-of-type > div:nth-child(2) div:nth-child(3) {
    color: white;
    border-radius: var(--pointTopLeft);
    display: flex;
    align-items: flex-end;
    padding: 0.6rem 0.6rem;
}

section:first-of-type > div:nth-child(2) div:nth-child(5),
section:last-of-type > div:nth-child(2) div:nth-child(4) {
    border-radius: var(--pointBottomRight);
 }
 
 section:last-of-type > div:nth-child(2) div {
    color: rgb(68, 133, 221);
    background-color: rgb(255, 255, 165); 
}

section:last-of-type > div:nth-child(2) div:first-child {
    grid-column: 1 / 3;
    border-radius: var(--pointBottomLeft);
}

section:last-of-type > div:nth-child(2) div:nth-child(2) {
    border-radius: var(--pointTopLeft);
}

section:last-of-type > div:nth-child(2) div:nth-child(3) {
    background: url(/Images/studio\(1\).jpg);
    background-size: cover;
    background-position: top;
    grid-column: 4 / span 2;
}

/* Footer */
footer {
    font-size: calc(0.9 * var(--font_size));
    padding: 1rem 0;
    margin-top: 1rem;
}

/* Media Queries */
@media (width <= 500px) {
    body > div {
        background-image: url(/Images/background-phone\(1\).jpg);
    }

    body {
        --font_size: 3.5vw;
        margin: 0;
    }

    main {
        width: auto;
    }   

    h1 {
        text-align: center;
        font-size: 16vw;
    }

    nav a {
        padding: 1rem 0;
        font-size: 3vw;
    }
    
    /* Upper Section */
    section:first-of-type > div:first-child,
    section:last-of-type > div:first-child {
        flex-direction: column-reverse;
    }

    article {
        margin: 1rem 0;
    }

    article + div {
        grid-template-columns:  1fr 1fr;
        grid-template-rows: 12rem 12rem auto;
        gap: 1vw;
    }

    /* Bottom Section */
    section > div:nth-child(2) {
        grid-template-columns: repeat(3, 1fr);
        gap: 1vw;
    }

    section:first-of-type > div:nth-child(2) div:nth-child(2) {
        grid-column: 1;
        grid-row: 2;
    }

    section:first-of-type > div:nth-child(2) div:nth-child(3) {
        grid-column: 2 / span 2;
        grid-row: 1;
    }

    section:last-of-type > div:nth-child(2) div:nth-child(3) {
        grid-column: 1 / span 2;
        grid-row: 2;
    }   
}

@media (800px <= width <= 900px) {
    body {
        --font_size: 0.9rem;
    }

    nav a {
        font-size: 0.95rem;
    }
}

@media (900px < width < 1200px) {
    body {
    --font_size: 1.5vw;
    }
}

@media (width >= 1200px) {
    main {
        width: 960px;
    }

    article + div {
        grid-template-columns: 12.6rem 12.6rem;
        grid-template-rows: 12.6rem 12.6rem auto;
        gap: 0.5rem;
    }
}

@font-face {
    font-family: "Bungee-Outline";
    src: url(/fonts/BungeeOutline-Regular.ttf);
}

@font-face {
    font-family: "Bungee-Shade";
    src: url(/fonts/BungeeShade-Regular.ttf);
}  

@font-face {
    font-family: "Barlow-Condensed";
    src: url(/fonts/Barlow_Condensed/BarlowCondensed-SemiBold.ttf);
}

@font-face {
    font-family: "Barlow-Semi-Condensed";
    src: url(/fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Regular.ttf);
}